*,
*::before,
*::after {
  box-sizing: border-box;
}



ul {
  list-style: none;
  padding: 0;
}



@media screen and (min-width: 620px) {
  body {
    line-height: 1.31579;
  }
}

.container{
  width: 50%;
  max-width: 68rem;
  margin: 0 auto;
   background-color: #e2e2e2;
  color: #283057;
  padding: 1.5rem;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 68rem;
}


.input{
  color: #9efdd8;
}

 input {
  margin-right: 10px;
}

.btn{
  color: #9efdd8;
  background-color: #9efdd8;
}

span, .error{
    color: red;
}


.listItem {
margin-bottom: 0.5rem;
background-color: #ffffff;
border-radius: 5px;
border-color: lightgray;
border-style: solid;
border-width: 1px;
color: #1b4431;
}